# A/B Testing of E Commerce Data

Importing Packages required.

In [7]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

###### DATA PREPROCESSING
Getting the data from github repo

In [19]:
data_path="https://raw.githubusercontent.com/ChandiniGanesan/A-B-Testing-for-an-e-commerce-company/master/ab_data.csv"
df_ecommerce=pd.read_csv(data_path,dtype={"user_id": int, "timestamp": object,"group":object,"landing_page":object,"converted":object},header=0)

Checking if data download and save to the dataframe was successful using head()

In [20]:
df_ecommerce.head()

   user_id timestamp      group landing_page converted
0   851104   11:48.6    control     old_page         0
1   804228   01:45.2    control     old_page         0
2   661590   55:06.2  treatment     new_page         0
3   853541   28:03.1  treatment     new_page         0
4   864975   52:26.2    control     old_page         1

Identifying number of rows and unique users in the dataset

In [31]:
print("Number of Rows:"),len(df_ecommerce)

Number of Rows:

(None, 294478)

In [30]:
print("Number of unique users:"),len(df_ecommerce["user_id"].unique())

Number of unique users:

(None, 290584)

Calculating proportions of users converted

In [63]:
df_ecommerce["converted"]=df_ecommerce["converted"].astype('int64')
df_ecommerce["converted"].dtype
df_ecommerce["converted"].value_counts(normalize=True)*100

0    88.034081
1    11.965919
Name: converted, dtype: float64

Occurance of new_page along with treatment in the dataset

In [73]:
df_ecommerce.groupby(["group","landing_page"]).size().reset_index(name="Occurance")

       group landing_page  Occurance
0    control     new_page       1928
1    control     old_page     145274
2  treatment     new_page     145311
3  treatment     old_page       1965

Checking for missing values

In [75]:
df_ecommerce.isnull()

        user_id  timestamp  group  landing_page  converted
0         False      False  False         False      False
1         False      False  False         False      False
2         False      False  False         False      False
3         False      False  False         False      False
4         False      False  False         False      False
...         ...        ...    ...           ...        ...
294473    False      False  False         False      False
294474    False      False  False         False      False
294475    False      False  False         False      False
294476    False      False  False         False      False
294477    False      False  False         False      False

[294478 rows x 5 columns]